<h1><%= @guest.name %></h1>
<h3>Occupation: <%= @guest.occupation %></h3>
<h4>Episodes:</h4>
<% @guest.episodes.each do |episode| %>
  <ul>
    <li># <%= episode.number %> - <%= link_to episode.date, episode_path(episode) %>, Rating: <%=@guest.appearance.rating%> </li>
  </ul>
<% end %>