<%= form_for @episode do |f| %> 
    <div class="field"> 
        <%= f.label :date %> 
        <%= f.date_field :date %> 
    </div> 
    <div class="field"> 
        <%= f.label :number %> 
        <%= f.number_field :number %> 
    </div> 
    <div class="actions"> 
        <%= f.submit %> 
    </div> 
<% end %> 
